{{/* V2 Nav - 報紙風格導航 */}}
<nav class="site-nav">
  <div class="site-nav__container">
    <ul class="site-nav__menu">
      <li class="site-nav__item">
        <a href="{{ "/" | relURL }}" class="site-nav__link {{ if .IsHome }}site-nav__link--active{{ end }}">首頁</a>
      </li>
      <li class="site-nav__item">
        <a href="{{ "/posts/" | relURL }}" class="site-nav__link {{ if eq .Section "posts" }}site-nav__link--active{{ end }}">文章</a>
      </li>
      <li class="site-nav__item">
        <a href="{{ "/v2/companies/" | relURL }}" class="site-nav__link {{ if eq .Section "companies" }}site-nav__link--active{{ end }}">公司庫</a>
      </li>
      <li class="site-nav__item">
        <a href="{{ "/v2/people/" | relURL }}" class="site-nav__link {{ if eq .Section "people" }}site-nav__link--active{{ end }}">人物庫</a>
      </li>
    </ul>
  </div>
</nav>
